.footer {
  height: auto;
  margin: 0px;
  background-color: #030749;
  margin-top: 60px;
}
@media (max-width:1000px) {
  .about-section {
    height: auto;
  }
}

.footer-about-section p {
  color: white;
}
.footer-social-icons {
  display: flex;
  justify-content: left;
}
.footer-social-icons p {
  height: 40px;
  width: 40px;
  background-color: rgb(52, 51, 40);
  color: white;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 6px,
}
.footer-social-icons p:hover {
  background-color: rgb(207, 224, 72);
  cursor: pointer;
}

.footer-item li {
  color: white;
  list-style-type: none;
  padding-top: 10px;
}

li {
  --border-color: white;
  --border-color2: rgb(255, 49, 207);
  --border-width: 2px;
  --bottom-distance: 0px;
  display: block;
  background-image: linear-gradient(var(--border-color), var(--border-color2));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
.footer-item li {
  background-position: 0 calc(100% - var(--bottom-distance));
  color: white;
  width: fit-content;
}

.footer-item li:hover {
  background-size: 100% var(--border-width);
  cursor: pointer;
}
.footer-service {
  padding: 20px;
}
